canvas {
    height: 50vh;
    width: 50vw;
    background-image: url("https://a-static.besthdwallpaper.com/valentine-s-day-lovely-pink-artistic-hearts-wallpaper-3840x2400-14421_9.jpg");
    background-repeat: no-repeat;
  }

